*volumetricMeshFilename
../../models/simpleBridge/simpleBridge-ic_128_0.15_.1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

*invertibleMaterial
StVK
#neoHookean

*renderingMeshFilename
../../models/simpleBridge/simpleBridge-ic_128_0.15_.1.obj

*secondaryRenderingMeshFilename
../../models/simpleBridge/simpleBridge.obj

*secondaryRenderingMeshInterpolationFilename
../../models/simpleBridge/simpleBridge.interp

*timestep
0.01

*dampingMassCoef
1.0
#10.0
#0.001

*dampingStiffnessCoef
0.0
#0.001

*deformableObjectCompliance
100.0

*frequencyScaling
1.0

*lightingConfigFilename
simpleBridge_tet.lighting

*cameraRadius
22

*cameraLongitude
-60

*cameraLattitude
20

*focusPositionX
2.0

*focusPositionY
2.0

*focusPositionZ
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/simpleBridge/simpleBridge.bou

*numInternalForceThreads
4

*numSolverThreads
2

*inversionThreshold
0.1

