*volumetricMeshFilename
../../models/simpleBridge/simpleBridge-ic_128_0.15_.1.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*massSpringSystemTetMeshConfigFilename
simpleBridge_tet.massspring

*renderingMeshFilename
../../models/simpleBridge/simpleBridge-ic_128_0.15_.1.obj

*secondaryRenderingMeshFilename
../../models/simpleBridge/simpleBridge.obj

*secondaryRenderingMeshInterpolationFilename
../../models/simpleBridge/simpleBridge.interp

*timestep
0.01

*YoungModulus
1e7

*PoissonRatio
0.4

*dampingMassCoef
1.0
#10.0
#0.001

*dampingStiffnessCoef
0.0
#0.001

*deformableObjectCompliance
0.5

*frequencyScaling
1.0

*lightingConfigFilename
simpleBridge_tet.lighting

*cameraRadius
22

*cameraLongitude
-60

*cameraLattitude
20

*focusPositionX
2.0

*focusPositionY
2.0

*focusPositionZ
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/simpleBridge/simpleBridge.bou

*numInternalForceThreads
4

*numSolverThreads
2

