*volumetricMeshFilename
../../models/beam3/beam3_tet.veg

*solver
#implicitBackwardEuler
implicitNewmark
#centralDifferences
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

*invertibleMaterial
StVK
#neoHookean

*renderingMeshFilename
../../models/beam3/beam3_tet.obj

*timestep
0.0005

*dampingMassCoef
0.0
#1.0
#10.0

*dampingStiffnessCoef
0.01
#0.001

*deformableObjectCompliance
1.0

*frequencyScaling
1.0

*lightingConfigFilename
beam3_tet.lighting

*cameraRadius
2

*cameraLongitude
65.8

*cameraLattitude
29

*focusPositionX
0.0

*focusPositionY
0.5

*focusPositionZ
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/beam3/beam3.bou

*numInternalForceThreads
4

*inversionThreshold
0.1

