*deformableObjectFilename
realtime/simpleBridge/simpleBridge.obj

*modesFilename
realtime/simpleBridge/simpleBridge.URendering.float

*cubicPolynomialFilename
realtime/simpleBridge/simpleBridge.cub

*deformableObjectCompliance
33605.2

*frequencyScaling
0.25

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*substepsPerTimeStep
5

*plasticThreshold
1E11

*renderWireframe
1

*cameraRadius
24.844047

*cameraLattitude
30

*cameraLongitude
127

*focusPositionX
-0.140183

*focusPositionY
0.608348

*focusPositionZ
-0.015778

*backgroundColor
220 220 220

*lightingConfigFilename
realtime/simpleBridge/simpleBridge.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

