*deformableObjectFilename
realtime/A/A.obj

*modesFilename
realtime/A/A.URendering.float

*cubicPolynomialFilename
realtime/A/A.cub

*deformableObjectCompliance
50

*frequencyScaling
0.02

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*substepsPerTimeStep
5

*plasticThreshold
1E12

*renderWireframe
1

*cameraRadius
1.8

*cameraLattitude
-3.231552

*cameraLongitude
75.622532

*focusPositionX
4.902455

*focusPositionY
0.436231

*focusPositionZ
0.150566

*backgroundColor
220 220 220

*lightingConfigFilename
realtime/A/A.lighting

*renderOnGPU
0

*windowWidth
800

*windowHeight
800

