*volumetricMeshFilename
../../models/towerCrane/towerCrane_resol166.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*massSpringSystemCubicMeshConfigFilename
towerCrane.massspring

*renderingMeshFilename
../../models/towerCrane/towerCrane_resol166.obj

*secondaryRenderingMeshFilename
../../models/towerCrane/towerCrane-processed.obj

*secondaryRenderingMeshInterpolationFilename
../../models/towerCrane/towerCrane-processed.interp

*timestep
0.01

*dampingMassCoef
10.0
#10.0
#0.001

*dampingStiffnessCoef
0.0
#0.001

*deformableObjectCompliance
0.5

*frequencyScaling
1.0

*lightingConfigFilename
towerCrane.lighting

*cameraRadius
37

*cameraLongitude
-170

*cameraLattitude
26

*focusPositionX
0.0

*focusPositionY
13.0

*focusPositionZ
10.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/towerCrane/towerCrane_resol166.bou

*numInternalForceThreads
4

*numSolverThreads
2

