*volumetricMeshFilename
#../../models/turtle/turtle-volumetric-homogeneous.ortho.veg
../../models/turtle/turtle-volumetric-heterogeneous.ortho.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
#InvertibleFEM
CLFEM
#LinearFEM

*invertibleMaterial
StVK
#neoHookean

*renderingMeshFilename
../../models/turtle/turtle-volumetric.obj

*secondaryRenderingMeshFilename
../../models/turtle/turtle.obj

*secondaryRenderingMeshInterpolationFilename
../../models/turtle/turtle.interp

*timestep
0.01

*dampingMassCoef
1.0
#10.0

*dampingStiffnessCoef
0.01
#0.001

#*addGravity
#1

#*g
#-10000

*deformableObjectCompliance
100.0

*frequencyScaling
1.0

*enableCompressionResistance
1

*compressionResistance
500

*inversionThreshold
0.1

*lightingConfigFilename
turtle.lighting

*cameraRadius
12.6

*cameraLongitude
-103

*cameraLattitude
8

*focusPositionY
3.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/turtle/turtle-volumetric.bou

*numInternalForceThreads
4

*numSolverThreads
2


