*volumetricMeshFilename
../../models/dragon-77k/dragon.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*deformableObjectMethod
#StVK
InvertibleFEM
#CLFEM
#LinearFEM

*invertibleMaterial
StVK
#neoHookean

*renderingMeshFilename
../../models/dragon-77k/dragon-77k.obj

#*secondaryRenderingMeshFilename

#*secondaryRenderingMeshInterpolationFilename

*timestep
0.01

*dampingMassCoef
1.0
#10.0
#0.001

*dampingStiffnessCoef
0.0
#0.001

*deformableObjectCompliance
10.0

*frequencyScaling
1.0

*lightingConfigFilename
dragon.lighting

*cameraRadius
10.9

*cameraLongitude
-113.9

*cameraLattitude
38.3

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/dragon-77k/dragon-77k.bou

*numInternalForceThreads
4

*numSolverThreads
2

*inversionThreshold
0.1

