*volumetricMeshFilename
../../models/simpleBridge/simpleBridge_resol92-b1.155_enlarged.veg

*solver
implicitBackwardEuler
#implicitNewmark
#symplecticEuler
#Euler

*massSpringSystemCubicMeshConfigFilename
simpleBridge_vox.massspring

*renderingMeshFilename
../../models/simpleBridge/simpleBridge_resol92-b1.155_enlarged.obj

*secondaryRenderingMeshFilename
../../models/simpleBridge/simpleBridge.obj

*secondaryRenderingMeshInterpolationFilename
../../models/simpleBridge/simpleBridge_resol92-b1.155_enlarged.interp

*timestep
0.01

*dampingMassCoef
1.0
#10.0
#0.001

*dampingStiffnessCoef
0.0
#0.001

*deformableObjectCompliance
0.5

*frequencyScaling
1.0

*lightingConfigFilename
simpleBridge_vox.lighting

*cameraRadius
22

*cameraLongitude
-60

*cameraLattitude
20

*focusPositionX
2.0

*focusPositionY
2.0

*focusPositionZ
0.0

*syncTimestepWithGraphics
0

*fixedVerticesFilename
../../models/simpleBridge/simpleBridge_resol92-b1.155_enlarged.bou

*numInternalForceThreads
4

*numSolverThreads
2

